
/*
:Author: Your Name
:Contact: Your Email Address
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.  [Optionally place a more
detailed description here.]
*/

@import url(html4css1.css);

/* Your customizations go here.  For example: */

/*h1, h2, h3, h4, h5, h6, p.topic-title {
  font-family: sans-serif }*/

body {
	margin: 1em;
	padding: 0;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
/*  color: #54542f;*/
	color: #78291f;
	background: #f3c450 url(images/docs-background.gif) repeat-x top left;
	}

h1, h2, h3, h4, h5, h6  {
	font-family: Georgia, serif;
	font-size: 120%;
    color: #3B323E;
	}

h1 { font-size: 1.9em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

h2 {
	margin: 0.8em 0;
	line-height: 1.3em;
	text-transform: none;
	letter-spacing: 0.04em;
	}

p {
	margin: 0;
/*	font-size: 0.9em;*/
	line-height: 1.5em;
	word-spacing: normal;
	letter-spacing: normal;
	}
pre.literal-block, pre.doctest-block, span.pre, div.note {
    background: #F7C65A;
}
pre.literal-block, pre.doctest-block, span.pre {
    font-size: 120%;
}

a,
a:link, 
a:visited {
	color: #600;
	background: transparent;
	text-decoration: none;
	}

a:hover { 
	color: #000;
	background: transparent;
	text-decoration: underline;
	}

address {
	font-style: normal;
	font-size: 0.8em;
	}

img { 
	border: none;
	margin: 0;
	padding: 0;
	}

div#using-the-fixture-module:first-child {
    padding-top: 0px;
}

h1 a.toc-backref:after, h2 a.toc-backref:after, 
h3 a.toc-backref:after, h4 a.toc-backref:after {
    content: url(images/up.gif);
    padding-left: 0.3em;
/*    vertical-align: middle;*/
}